# Don't track content of these folders
image/
rapport_stage.txt
*.aux
*.zip
*.toc
*.gz
*.log

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
